{% extends 'base.html' %}

{% block title %}
<title>About Nann_E</title>
{% endblock %}

{% block content %}
<h1>About Nann_E</h1>
<p>
    Nann_E is an app made to assist parents in keeping track of their childrens' 
    feedings, medications, illnesses, activities, etc.
</p>
<p>
    The idea behind this app is to help sleep deprived parents or care takers to
    organize and help communicate between each other without having to wake each
    other up in the middle of the night. This idea comes from personal experience. 
    Knowing how precious every minute of sleep can be.
</p>
{% endblock %}